.header,
.footer,
.main {
    background-color: #FFC8AE;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    border-style: solid;
    border-color: #BD081C;
    margin: 10px;

}

.main>div {
    display: flex;
}


.nav {
    background-color: #E0FFA8;
    padding: 10px;
    border-style: solid;
    border-color: #598527;
    margin: 5px;
}


.article {
    width: 80%;
    background-color: #DDDDDD;
    padding-top: 2px;
    padding: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: #484848;

}

.article>section {
    background-color: #CCFFFF;
    padding: 10px;
    border-style: solid;
    border-color: #6C9CC4;
    margin: 5px;
}

.aside {
    background-color: #DDDDDD;
    padding: 10px;
    width: 10%;
    float: right;
    border-style: solid;
    border-color: #484848;

}

.textStyling {
    color: #0000ff;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    text-decoration: line-through;
    line-height: 20px;
    /* px, %, vh, vw */
    height: 50vh;
    width: 50vh;

    background-color: aquamarine;
    background-image: url('./images/1.png');
    background-size: cover;
    padding: 10px;
    border: 1px solid green;
}